*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul ,li ,a{
    /* text-transform: none;
    text-decoration: none; */
    display: flex;
    justify-content: space-evenly;
    padding: top 10px;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;


  
}

h1{
    /* padding-left: 20px
    marging :20px */
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    


header nav img{
    height: 50px; 
    width: 100px;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./prodacImg/Jeep-carMain.png);
    height: 100vh; 
    background-size: cover;

}


nav{
    display: flex;
    justify-content: space-between;
    
}
.content{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 2rem;
    padding: 50px;
}
.input{
    display: flex;
    
}
.button1{
    border-radius: 50px;
}
.button2{
    border-radius: 50px;
}


